*{
    padding: 0;
    margin: 0;

}


.first-section{
    display: flex;
    flex-direction: row-reverse;
    
    background-color: white;
    align-items: center;

    margin: auto;
    margin-top: 34px;
    max-width: 85vw;
}
.firsthalf img{
   border-radius: 34px;
   width: 183px;
}
.firsthalf {
 margin: 0px 50px;
}
.secondhalf img{
    margin: 12px 13px;
width: 183px;
}
.followicons{
    margin-right:234px ;
}
.fa-brands{
   color: black;
margin: 10px 6px;
}
.fa-brands:hover{
   color:grey;

}
.loadmore{
    margin: auto;
    max-width: 85vw;
    cursor: pointer;
    font-weight: 700;
    }
@media  screen and (max-width:1100px){
.first-section{
    flex-direction: column;
}
.secondhalf{
    display: flex;
    flex-direction: column;
}
.followicons{
    margin: 0;
}

}